mixin header({addClass})
    header(class=`header ${addClass}`)
        .header__container
            .header__left 
                a.header__a Главная 
                a.header__a Обо мне
                a.header__a Портфолио

            .header__right 
                a.header__a Войти
                a.header__a Зарегестрироваться 