@import "./fonts.scss";
@import "./icons.scss";

$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark5: rgba(31, 32, 65, 0.05);

$max-width-container: 1920px;

$break-point-1: 1000px;
$break-point-2: 700px;
$break-point-3: 450px;

@mixin set-font($style, $weight, $size, $line-height, $color) {
    font-family: Montserrat;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    @include set-font(normal, bold, 24px, 29px, $dark100);
}

h2 {
    @include set-font(normal, bold, 19px, 23px, $dark100);
}

h3 {
    @include set-font(normal, bold, 12px, 15px, $dark100);
    text-transform: uppercase;
}

body {
    @include set-font(normal, normal, 14px, 24px, $dark75);
}

a {
    text-decoration: none;
    @include set-font(normal, normal, 14px, 17px, $dark50);
}

.slider {
    min-width: 0;
    position: relative;

    &__item {
        margin: 0 5px;
    }
}
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    // margin-right: 100px;
    // padding-right: 100px;
    // margin-right: 20px;
}
/* Слайд */
.slick-slide {
    // margin-right: 20px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
    width: 44px;
    height: 44px;

    // padding: 10px;

    border: 0;
    border-radius: 40px;

    background-color: rgba($color: white, $alpha: 0);

    position: absolute;

    filter: invert(78%) sepia(75%) saturate(1%) hue-rotate(6deg)
        brightness(101%) contrast(87%);
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    top: 45%;
    left: 0;

    z-index: 1;

    font-size: 0;

    background-image: url(../img/arrow/right-arrow.svg);
    transform: rotateZ(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    top: 45%;
    right: 0;

    z-index: 1;

    font-size: 0;

    background-image: url(../img/arrow/right-arrow.svg);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

@import "../UI/header/header.scss";
@import "../UI/card/card.scss";
@import "../UI/about/about.scss";
@import "../UI/portfolio/portfolio.scss";
@import "../UI/portrets/portrets.scss";
@import "../UI/reportage/reportage.scss";
@import "../UI/love/love.scss";

@import "../landing.scss";
