.portfolio {
    position: relative;

    background-color: white;

    padding-top: 10px;

    &__container {
        max-width: 1900px;
        height: 100%;

        margin: 0 auto;
        padding: 10px 20px;
    }

    &__photo-conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 50px;
    }

    &__card {
        flex: 0 0 auto;
    }

    &__head {
        color: black;
        text-align: center;
        font-size: 36px;

        // margin-bottom: 100px;
    }
}
