include ../card/card.pug
include ../portrets/portrets.pug
include ../reportage/reportage.pug
include ../love/love.pug

mixin portfolio({addClass})
    div(class=`portfolio ${addClass}`)
        .portfolio__container
            +portrets({addClass:"portfolio__portrets"})
            +reportage({addClass:"portfolio__reportage"})
            +love({addClass:"portfolio__love"})
        



