mixin about({addClass})
    div(class=`about ${addClass}`)
        .about__container
            .about__head Немного обо мне

            .about__content 
                .about__photo#back-photo-1
                .about__text
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae laborum at ratione. Exercitationem, dolorem pariatur minima impedit quidem aliquam quae cumque dolor, rerum beatae voluptates fuga illo dolore obcaecati ad tempore. Saepe, beatae fuga repellendus dolore distinctio, quaerat, ut ratione veniam eos error facilis ipsum nulla hic molestiae? Quia.
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae laborum at ratione. Exercitationem, dolorem pariatur minima impedit quidem aliquam quae cumque dolor, rerum beatae voluptates fuga illo dolore obcaecati ad tempore. Saepe, beatae fuga repellendus dolore distinctio, quaerat, ut ratione veniam eos error facilis ipsum nulla hic molestiae? Quia.

            .about__content 
                .about__text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nihil aliquam dolorem impedit distinctio blanditiis itaque aperiam ex nam natus quibusdam tempora explicabo quos consectetur, deleniti cumque non consequuntur quae?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quae. Dignissimos quas harum nihil et ut cumque, error quasi minus.
                .about__photo#back-photo-2

