mixin about({addClass})
    div(class=`about ${addClass}`)
        .about__container
            .about__head Немного обо мне

            .about__content 
                .about__photo#back-photo-1
                .about__text
                    p Добрый день!
                    p Меня зовут Таня, я фотограф из Красноярска. Занимаюсь фотографией с 2018 года и очень сильно люблю свою работу, потому что создаю шедевры
                    p На этапе подготовке к съёмке помогаю с выбором образа, реквизита, локации, визажиста
                    

            .about__content 
                .about__text
                    p Фотосессии всегда проходят весело и легко, во время
                    p съемки общаюсь с моделями, помогаю с
                    p позированием, стараюсь уделить максимум внимания
                    p каждому, кто ко мне обратится. Ко всем клиентам свой индивидуальный подход.
                    p Остальное скажут за меня мои работы:)
                .about__photo#back-photo-2

